#menu{    
    width: 100%;
}
#menu-center{
    float: left;
    background-color: red;
    width:68%;
    height:auto;
    border-right: 2px solid black;
}
#menu-right{
    float: left;
    background-color: blue;
    width: 30%;
    
}
.container{
    width: 40%;
    padding: 0;
    padding-top: 40%;
    margin: 30px auto;
    margin-left: 5%;
    border: 0px solid black;
    border-radius: 15px;
    box-shadow: 4px 2px #888888;
    /* background-color: rgb(93, 235, 11); */
    border: 2px solid black;
    /* background-color: rgb(244, 239, 236); */
    display: inline-block;
    font-size: 20px;
}
.container:hover{
    background-color: rgb(216, 214, 212);
    box-shadow: 0 0 #888;
    transition: .5s;
}